<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultWeb::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Karma</title>
</head>
<body>
<section class="checkout_area section_gap mt-5">
  <div class="container mt-5">
    <div class="billing_details">
      <div class="col-lg-12">
        <form class="row contact_form" th:action="@{/web/change-password}" th:method="POST" novalidate="novalidate" enctype="multipart/form-data">

          <div class="col-md-12 form-group">
            <p class="text-danger" th:if="${error}" th:text="${error}"></p>
          </div>
          <div class="col-md-12 form-group">
            <p class="text-success" th:if="${success}" th:text="${success}"></p>
          </div>
          <div class="col-md-12 form-group p_star">
            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Mật khẩu cũ">
          </div>
          <div class="col-md-12 form-group p_star">
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Mật khẩu mới">
          </div>
          <div class="col-md-12 form-group p_star">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu mới">
          </div>
          <div class="col-md-12 form-group text-center">
            <button type="submit" class="primary-btn">Lưu</button>
          </div>
        </form>
      </div>
      <script>
        const imageInput = document.getElementById('imageInput');
        const authorImage = document.getElementById('authorImage');

        imageInput.addEventListener('change', function(event) {
          const file = event.target.files[0];

          if (file && file.type.startsWith('image/')) {
            const imageUrl = URL.createObjectURL(file);
            authorImage.src = imageUrl;

            authorImage.onload = () => URL.revokeObjectURL(imageUrl);
          } else {
            console.error("File không hợp lệ hoặc không phải là hình ảnh.");
          }
        });
      </script>
    </div>
  </div>
</section>
</body>
</html>