<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/defaultWeb::layout(~{::section})}"
>
<head>
  <meta charset="ISO-8859-1" />
  <title>Insert title here</title>
</head>
<body>
<section>
  <!-- start banner Area -->
  <section class="banner-area">
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-start">
        <div class="col-lg-12">
          <div class="active-banner-slider owl-carousel">
            <!-- single-slide -->
            <div class="row single-slide align-items-center d-flex">
              <div class="col-lg-5 col-md-6">
                <div class="banner-content">
                  <h1>
                   Bộ sưu tập mới của 
                    <br />
                    Nike!
                  </h1>
                  <p>
                    Bộ sưu tập 'N7' mới của Nike vinh danh văn hóa bản địa với hai mẫu giày đặc biệt: Dunk Low Next Nature N7 và KD17 N7. Các đôi giày này kết hợp màu sắc tươi sáng và chất liệu bền vững, lấy cảm hứng từ di sản của người bản địa. Dunk Low đã có mặt trên thị trường với giá 130 USD, trong khi KD17 N7 sẽ ra mắt vào ngày 28 tháng 11 với giá 150 USD
                  </p>
                  <div class="add-bag d-flex align-items-center">
                    <a class="add-btn" href="">
                      <span class="lnr lnr-cross"></span>
                    </a>
                    <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="banner-img">
                  <img
                          class="img-fluid"
                          th:src="@{/assets/web/img/banner/banner-img.png}"
                          alt=""
                  />
                </div>
              </div>
            </div>
            <!-- single-slide -->
            <div class="row single-slide">
              <div class="col-lg-5">
                <div class="banner-content">
                  <h1>
                   Bộ sưu tập mới của 
                    <br />
                    Nike!
                  </h1>
                  <p>
                    Bộ sưu tập 'N7' của Nike không chỉ là một bộ sưu tập giày thể thao, mà còn là một cách để tôn vinh di sản văn hóa bản địa của Bắc Mỹ. Những mẫu giày này được thiết kế với các chi tiết mang đậm tính văn hóa, kết hợp giữa nghệ thuật truyền thống và xu hướng hiện đại. Các sản phẩm trong bộ sưu tập không chỉ nổi bật về thiết kế mà còn chú trọng đến tính bền vững, với vật liệu thân thiện với môi trường
                  </p>
                  <div class="add-bag d-flex align-items-center">
                    <a class="add-btn" href="">
                      <span class="lnr lnr-cross"></span>
                    </a>
                    <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="banner-img">
                  <img
                          class="img-fluid"
                          th:src="@{/assets/web/img/banner/banner-img.png}"
                          alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- start features Area -->
  <section class="features-area section_gap">
    <div class="container">
      <div class="row features-inner">
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img th:src="@{/assets/web/img/features/f-icon1.png}" alt="" />
            </div>
            <h6>Giao hàng miễn phí</h6>
            <p>Miễn phí vận chuyển cho tất cả đơn hàng!</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img th:src="@{/assets/web/img/features/f-icon2.png}" alt="" />
            </div>
            <h6>Chính sách hoàn trả</h6>
            <p>Miễn phí vận chuyển cho tất cả đơn hàng!</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img th:src="@{/assets/web/img/features/f-icon3.png}" alt="" />
            </div>
            <h6>24/7 Hỗ trợ</h6>
            <p>Miễn phí vận chuyển cho tất cả đơn hàng!</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img th:src="@{/assets/web/img/features/f-icon4.png}" alt="" />
            </div>
            <h6>Thanh toán an toàn</h6>
            <p>Miễn phí vận chuyển cho tất cả đơn hàng!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end features Area -->

  <!-- Start category Area -->
  <section class="category-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="single-deal">
                <div class="overlay"></div>
                <img
                        class="img-fluid w-100"
                        th:src="@{/assets/web/img/category/c1.jpg}"
                        alt=""
                />
                <a
                        href="img/category/c1.jpg"
                        class="img-pop-up"
                        target="_blank"
                >
                  <div class="deal-details">
                    <h6 class="deal-title">Giày thể thao</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="single-deal">
                <div class="overlay"></div>
                <img
                        class="img-fluid w-100"
                        th:src="@{/assets/web/img/category/c2.jpg}"
                        alt=""
                />
                <a
                        href="img/category/c2.jpg"
                        class="img-pop-up"
                        target="_blank"
                >
                  <div class="deal-details">
                    <h6 class="deal-title">Giày thể thao</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="single-deal">
                <div class="overlay"></div>
                <img
                        class="img-fluid w-100"
                        th:src="@{/assets/web/img/category/c3.jpg}"
                        alt=""
                />
                <a
                        href="img/category/c3.jpg"
                        class="img-pop-up"
                        target="_blank"
                >
                  <div class="deal-details">
                    <h6 class="deal-title">Sản phẩm dành cho cặp đôi</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-md-8">
              <div class="single-deal">
                <div class="overlay"></div>
                <img
                        class="img-fluid w-100"
                        th:src="@{/assets/web/img/category/c4.jpg}"
                        alt=""
                />
                <a
                        href="img/category/c4.jpg"
                        class="img-pop-up"
                        target="_blank"
                >
                  <div class="deal-details">
                    <h6 class="deal-title">Giày thể thao</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-deal">
            <div class="overlay"></div>
            <img
                    class="img-fluid w-100"
                    th:src="@{/assets/web/img/category/c5.jpg}"
                    alt=""
            />
            <a
                    href="img/category/c5.jpg"
                    class="img-pop-up"
                    target="_blank"
            >
              <div class="deal-details">
                <h6 class="deal-title">Giày thể thao</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End category Area -->

  <!-- start product Area -->
  <section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <h1>Sản phẩm mới</h1>
              <p>Sản phẩm mới cập nhật tại Shop.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single product -->
          <div th:each="product : ${products}" class="col-lg-3 col-md-6">
            <div class="single-product">
              <a th:href="@{/home/details/{id}(id=${product.id})}">
                <img
                        class="img-fluid"
                        th:src="@{'/assets/web/img/product/' + ${product.image}}"

                        alt=""
                        
                />
              </a>
              <div class="product-details">
                <h6 th:text="${product.name}"></h6>
                <div class="price">
                  <h6 th:text="${product.price + ' VNĐ'}"></h6>
                  <!-- <h6 class="l-through">$210.00</h6> -->
                </div>
                <div class="prd-bottom">
                  <form th:action="@{/web/cart}" method="post" class="social-info">
                    <input type="hidden" th:value="${product.id}" name="productId">
                    <input type="hidden" value="1" name="quantity">
                    <input type="hidden" th:value="${product.price}" name="price">
                    <button type="submit" style="border: none; background: transparent;"><span class="ti-bag"></span><p class="hover-text">Thêm</p></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <h1>Sản phẩm sắp ra mắt</h1>
              <p>Sản phẩm sắp ra mắt tại Shop</p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single product -->
          <div th:each="product : ${products}" class="col-lg-3 col-md-6">
            <div class="single-product">
              <a th:href="@{/home/details/{id}(id=${product.id})}">
                <img
                        class="img-fluid"
                        th:src="@{/assets/web/img/product/{image}(image=${product.image})}"
                        alt=""
                />
              </a>
              <div class="product-details">
                <h6 th:text="${product.name}"></h6>
                <div class="price">
                  <!-- <h6 th:text="${product.price}"></h6> -->
                  <!-- <h6 class="l-through">$210.00</h6> -->
                </div>
                <div class="prd-bottom">
                  <form th:action="@{/web/cart}" method="post" class="social-info">
                    <input type="hidden" th:value="${product.id}" name="productId">
                    <input type="hidden" value="1" name="quantity">
                    <input type="hidden" th:value="${product.price}" name="price">
                    <button type="submit" style="border: none; background: transparent;"><span class="ti-bag"></span><p class="hover-text">Thêm</p></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end product Area -->

  <!-- Start exclusive deal Area -->
  <section class="exclusive-deal-area">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 no-padding exclusive-left">
          <div class="row clock_sec clockdiv" id="clockdiv">
            <div class="col-lg-12">
              <h1>Khuyến mãi hấp dẫn độc quyền sắp kết thúc!</h1>
              <p>Những người cực kỳ yêu thích hệ thống thân thiện với môi trường.</p>
            </div>
            <div class="col-lg-12">
              <div class="row clock-wrap">
                <div class="col clockinner1 clockinner">
                  <h1 class="days">150</h1>
                  <span class="smalltext">Days</span>
                </div>
                <div class="col clockinner clockinner1">
                  <h1 class="hours">23</h1>
                  <span class="smalltext">Hours</span>
                </div>
                <div class="col clockinner clockinner1">
                  <h1 class="minutes">47</h1>
                  <span class="smalltext">Mins</span>
                </div>
                <div class="col clockinner clockinner1">
                  <h1 class="seconds">59</h1>
                  <span class="smalltext">Secs</span>
                </div>
              </div>
            </div>
          </div>
          <a href="" class="primary-btn">Mua ngay</a>
        </div>
        <div class="col-lg-6 no-padding exclusive-right">
          <div class="active-exclusive-product-slider">
            <!-- single exclusive carousel -->
            <div class="single-exclusive-slider">
              <img
                      class="img-fluid"
                      th:src="@{/assets/web/img/product/e-p1.png}"
                      alt=""
              />
              <div class="product-details">
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <h4>Đế giày addidas Hammer mới dành cho người chơi thể thao</h4>
                <div
                        class="add-bag d-flex align-items-center justify-content-center"
                >
                  <a class="add-btn" href="">
                    <span class="ti-bag"></span>
                  </a>
                  <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                </div>
              </div>
            </div>
            <!-- single exclusive carousel -->
            <div class="single-exclusive-slider">
              <img
                      class="img-fluid"
                      th:src="@{/assets/web/img/product/e-p1.png}"
                      alt=""
              />
              <div class="product-details">
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <h4>Đế giày addidas Hammer mới dành cho người chơi thể thao</h4>
                <div
                        class="add-bag d-flex align-items-center justify-content-center"
                >
                  <a class="add-btn" href="">
                    <span class="ti-bag"></span>
                  </a>
                  <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End exclusive deal Area -->

  <!-- Start brand Area -->
  <section class="brand-area section_gap">
    <div class="container">
      <div class="row">
        <a class="col single-img" href="#">
          <img
                  class="img-fluid d-block mx-auto"
                  th:src="@{/assets/web/img/brand/1.png}"
                  alt=""
          />
        </a>
        <a class="col single-img" href="#">
          <img
                  class="img-fluid d-block mx-auto"
                  th:src="@{/assets/web/img/brand/2.png}"
                  alt=""
          />
        </a>
        <a class="col single-img" href="#">
          <img
                  class="img-fluid d-block mx-auto"
                  th:src="@{/assets/web/img/brand/3.png}"
                  alt=""
          />
        </a>
        <a class="col single-img" href="#">
          <img
                  class="img-fluid d-block mx-auto"
                  th:src="@{/assets/web/img/brand/4.png}"
                  alt=""
          />
        </a>
        <a class="col single-img" href="#">
          <img
                  class="img-fluid d-block mx-auto"
                  th:src="@{/assets/web/img/brand/5.png}"
                  alt=""
          />
        </a>
      </div>
    </div>
  </section>
  <!-- End brand Area -->

  <!-- Start related-product Area -->
  <section class="related-product-area section_gap_bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Ưu đãi trong tuần</h1>
            <p>
              Tuần này, Nike đang có nhiều ưu đãi hấp dẫn, bao gồm giảm giá đến 70% cho giày và trang phục thể thao. Các sản phẩm giày chạy bắt đầu từ mức giá chỉ $39,73, và có những ưu đãi đặc biệt như giảm 10% cho giáo viên và nhân viên trường học, áp dụng cả cho sản phẩm giảm giá​
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r1.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r2.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r3.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r5.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r6.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r7.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r9.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r10.jpg}" alt="" /></a>
                <div class="desc">
                  <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="single-related-product d-flex">
                <a href="#"><img th:src="@{/assets/web/img/r11.jpg}" alt="" /></a>
                <div class="desc">
                 <a href="#" class="title">Giày cao gót ren đen</a>
                  <div class="price">
                    <h6>189000</h6>
                    <h6 class="l-through">210000</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ctg-right">
            <a href="#" target="_blank">
              <img
                      class="img-fluid d-block mx-auto"
                      th:src="@{/assets/web/img/category/c5.jpg}"
                      alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End related-product Area -->
</section>
</body>
</html>
