<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/defaultAdmin::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Karma - Admin Product</title>
</head>
<body>

<section>
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Hồ sơ</h1>
                    </div>
                </div>
                <!--//row-->
                <div class="row g-4">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="container-product">
                            <form
                                    th:action="@{/admin/profile}"
                                    method="post"
                                    enctype="multipart/form-data"
                            >
                                <div class="col-md-12 form-group text-center">
                                    <img id="authorImage" class="author_img rounded-circle" style="width: 38vh; height: 38vh; object-fit: cover" th:src="@{'/assets/web/img/avatar/' + ${session.USER.image}}" alt="">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <p class="text-danger" th:if="${error}" th:text="${error}"></p>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="name">Họ và tên:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên" th:value="${session.USER.name}">
                                </div>
                                <div class="col-md-12 form-group p_star mb-3">
                                    <label for="dob">Ngày sinh:</label>
                                    <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày sinh" th:value="${session.USER.dob}">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="phoneNumber">Số điện thoại:</label>
                                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:value="${session.USER.phoneNumber}" placeholder="Số điện thoại">
                                </div>
                                <div class="col-md-12 form-group p_star mb-3">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" th:value="${session.USER.email}" placeholder="Email">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="gender">Giới tính:</label>
                                    <select class="country_select p_star" style="width: 100%" id="gender" name="gender" th:value="${session.USER.gender}">
                                        <option disabled selected>Giới tính</option>
                                        <option th:selected="${session.USER.gender == 'Nam'}" value="Nam">Nam</option>
                                        <option th:selected="${session.USER.gender == 'Nữ'}" value="Nữ">Nữ</option>
                                        <option th:selected="${session.USER.gender == 'Khác'}" value="Khác">Khác</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="address">Địa chỉ:</label>
                                    <input type="text" class="form-control" id="address" name="address" th:value="${session.USER.address}" placeholder="Địa chỉ">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <label for="imageInput">Hình ảnh:</label>
                                    <input type="file" class="form-control-file" id="imageInput" name="file" accept="image/*" >
                                </div>
                                <div class="col-md-12 form-group text-center">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </form>
                            <script>
                                const imageInput = document.getElementById('imageInput');
                                const authorImage = document.getElementById('authorImage');

                                imageInput.addEventListener('change', function(event) {
                                    const file = event.target.files[0];

                                    if (file && file.type.startsWith('image/')) {
                                        const imageUrl = URL.createObjectURL(file);
                                        authorImage.src = imageUrl;

                                        authorImage.onload = () => URL.revokeObjectURL(imageUrl);
                                    } else {
                                        console.error("File không hợp lệ hoặc không phải là hình ảnh.");
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!--//container-fluid-->
        </div>
        <!--//app-content-->
    </div>

</section>
</body>
</html>